.Productlist {
  /* border: 1px solid black; */
  padding: 10px 2px;
  line-height: 30px;
  background: linear-gradient(
    90deg,
    rgba(240, 237, 240, 1) 0%,
    rgba(0, 209, 255, 1) 100%
  );
  white-space: nowrap;
  height: 500px;
  overflow-y: hidden;
  overflow-y: scroll;
  border-radius: 16px;
}

.Productlist p {
  margin: 5px 0px;
  padding: 2px 5px;
  background-color: rgba(240, 237, 240, 1);
}

.Productlist p:hover {
  background-color: rgb(212, 209, 212);
}
