

.App-logo {
  height: 10vmin;
  pointer-events: none;
  float:left;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */



