body {
  background-color: rgb(255, 246, 246);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slide-in-left-enter {
  transform: translate(-100%);
}

.slide-in-left-enter-ative {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-ative {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}
